/* styles.css */

*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-image: url(../src/Assets/wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container{
  padding: 10%;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.weather-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

p {
  font-size: 30px;
  color: white;
  margin-bottom: 5px;
}
